* {
  box-sizing: border-box;
}

html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

body{
font-family: poppins;
color: #444;
text-align: center;
justify-content: center;
align-items: center;
background-color: white;
}

header {
  font-family: Poppins;
  background-image: url(imagens/Header.jpg);
  background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  color: white; /* Define a cor do texto como branca para contraste */
  padding: 120px 240px 120px 120px;
  background-color:rgb(120, 120, 120);
  background-blend-mode: multiply;
  height: 60vh;
  align-items: right;
  justify-content: right;
  text-align: right;
}

.map {
  font-family: Poppins;
  background-image: url(imagens/map.jpg);
  background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
  background-position: top center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  color: white; /* Define a cor do texto como branca para contraste */
  background-color:rgb(120, 120, 120);
  background-blend-mode: multiply;
  height: 70vh;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 120px;
}

.mapdiv {
  width: 35%;
}

.tipo1 {
  padding: 10px 20px; /* Espaçamento interno do botão */
  font-size: 16px; /* Tamanho da fonte */
  color: white; /* Cor do texto */
  background-color: transparent; /* Fundo transparente */
  border: 2px solid white; /* Borda branca */
  border-radius: 5px; /* Arredonda os cantos do botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.1s, color 0.1s, padding 0.1s; /* Transição suave para mudanças */
}

.tipo1:hover {
  padding: 12px 22px;
  color: lightgrey;
  border: 2px solid lightgrey;
}

.tipo2 {
  padding: 10px 20px; /* Espaçamento interno do botão */
  font-size: 16px; /* Tamanho da fonte */
  color: #F4EBD9; /* Cor do texto */
  background-color: #BA7A4C; /* Fundo transparente */
  border-radius: 5px; /* Arredonda os cantos do botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.1s, color 0.1s, padding 0.1s; /* Transição suave para mudanças */
  border: none;
}

.tipo2:hover {
  padding: 12px 22px;
  background-color: #666;
}

.colunas {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  padding: 20px;
  flex: 1;
}

.coluna1 {
  font-family: poppins;
  text-align: right;
  flex: 1;
  margin: 10px;
  padding: 20px 20px 20px 120px;
  max-height: 100%; /* Limita a altura máxima à altura do contêiner pai */
}

.coluna2 {
  font-family: poppins;
  text-align: left;
  flex: 1;
  margin: 10px;
  padding: 20px 120px 20px 20px;
  max-height: 100%; /* Limita a altura máxima à altura do contêiner pai */
}

.coluna2 img {
  width: 100%;
}

.blocos {
  background-color: #F4EBD9;
  padding: 30px 0px 0px 0px;
  margin: 0px;
}

.plantas {
  background-color: #F4EBD9;
  margin: 0px;
  padding: 30px 0px 0px 0px;
}

.colunax1 {
  background-image: url(imagens/lzr.jpg);
  background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  font-family: poppins;
  text-align: right;
  flex: 1;
  margin: 10px;
  padding: 20px 20px 20px 120px;
  max-height: 100%;
  border: none;
  border-radius: 18px;
  box-shadow: 2px 2px 5px grey;
  background-color:rgb(120, 120, 120);
  background-blend-mode: multiply;
}

.colunax2 {
  background-image: url(imagens/dif.jpg);
  background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  font-family: poppins;
  text-align: right;
  flex: 1;
  margin: 10px;
  padding: 20px 20px 20px 120px;
  max-height: 100%;
  border: none;
  border-radius: 18px;
  box-shadow: 2px 2px 5px grey;
  background-color:rgb(120, 120, 120);
  background-blend-mode: multiply;
}

.colunax3 {
  background-image: url(imagens/apt.jpg);
  background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  font-family: poppins;
  text-align: right;
  flex: 1;
  margin: 10px;
  padding: 20px 20px 20px 120px;
  max-height: 100%;
  border: none;
  border-radius: 18px;
  box-shadow: 2px 2px 5px grey;
  background-color:rgb(120, 120, 120);
  background-blend-mode: multiply;
}
/*BLOCO DE CONTEÚDO DA ÁREA DE LAZER*/
.toggle-button {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  font-family: poppins;
  border: none;
  padding: 0px;
  margin-top: 20px;
  cursor: pointer;
}

.toggle-button:hover {
color: #aaa;}

.conteudo {
  color: #fff;
  margin-top: 20px;
  display: none; /* Inicialmente escondido */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.conteudo.mostrar {
  display: block;
  opacity: 1;
}
/*BLOCO DE CONTEÚDO DOS DIFERENCIAIS*/
.toggle-button2 {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  font-family: poppins;
  border: none;
  padding: 0px;
  margin-top: 20px;
  cursor: pointer;
}

.toggle-button2:hover {
color: #aaa;}

.conteudo2 {
  color: #fff;
  margin-top: 20px;
  display: none; /* Inicialmente escondido */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.conteudo2.mostrar {
  display: block;
  opacity: 1;
}
/*BLOCO DE CONTEÚDO DOS APARTAMENTOS*/
.toggle-button3 {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  font-family: poppins;
  border: none;
  padding: 0px;
  margin-top: 20px;
  cursor: pointer;
}

.toggle-button3:hover {
color: ;}

.conteudo3 {
  color: #fff;
  margin-top: 20px;
  display: none; /* Inicialmente escondido */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.conteudo3.mostrar {
  display: block;
  opacity: 1;
}
/*CARROSSEL DE IMAGENS*/
.carousel-container {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
  border-radius: 10px;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.carousel-prev:hover, .carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*FORMULÁRIO*/
form{
display-content:center;
align-items:center;
}

label {
      display: block;
      margin-bottom: 8px;
      color: #fff;
font-family:poppins;
    }

    input {
      width: 100%;
background-color:rgba(255, 255, 255, 0.9);
      padding: 10px;
      margin-bottom: 16px;
      box-sizing: border-box;
border-radius:10px;
border:solid 2px #ddd;
    }

input::placeholder{
color:rgb(100, 100, 100);
font-family:poppins;
}

small {
      display: block;
      margin-top: 5px;
      color: #777;
    }

    /*colunas valores*/
    .valoresdiv {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; /* Espaçamento entre as colunas */
      margin: 10px;
  }

.preço{
color: #BA7A4C;
}

  .valorescol {
      background-color: #F4EBD9;
      color: #333;
      padding: 5px;
      flex: 1 1 calc(20% - 20px); /* Para 5 colunas no desktop */
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 1px 1px 4px lightgrey ;
      margin-bottom: 5px;
  }

  #cadastro {
    background-color: #BA7A4C;
    padding: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .cadastrodiv1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .cadastrodiv {
    width: 50%;
    text-align: left;
  }

  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Estilo para a primeira seção do footer */
.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Espaçamento entre as seções */
}

.first-section img {
    width: 50px; /* Tamanho da logo */
    height: auto; /* Mantém a proporção */
    margin-right: 10px; /* Espaçamento à direita da logo */
}

/* Estilo para a segunda seção do footer */
.second-section {
    font-size: 14px; /* Tamanho do texto do copyright */
}

.obrigado {
  font-family: poppins;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/*Media------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  @media (max-width: 768px) {
      .valorescol {
          flex: 1 1 100%; /* Para 1 coluna no celular */
      }
    
    header {
      background-position: right; /* Centraliza a imagem */
      height: 50vh;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: small;
      padding: 80px 10px;
    }
    
    .map {
      background-position: top; /* Centraliza a imagem */
      height: 70vh;
      align-items: left;
      justify-content: left;
      text-align: justify;
      padding: 80px 20px;
      background-color: #555;
    }
    
    .mapdiv {
      width: 100%;
    }
    
    .colunas {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0px 10px;
    }
    
    .coluna1 {
      font-family: poppins;
      text-align: justify;
      flex: 1;
      margin: 10px;
      padding: 0px;
      max-height: 100%; /* Limita a altura máxima à altura do contêiner pai */
    }

    .coluna2 {
      display: flex;
      justify-content: center;
      font-family: poppins;
      text-align: center;
      align-items: center;
      padding: 10px;
      width: 100%;
      margin: 0px;
    }

    .coluna2 img{
      width: 100%;
    }

    .blocos h2{
      padding: 30px 30px 0px 30px;
    }

    .blocos {
      padding: 0px 10px;
    }
    
    .colunax1 {
      background-image: url(imagens/lzr.jpg);
      background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
      background-position: center; /* Centraliza a imagem */
      background-repeat: no-repeat; /* Evita que a imagem se repita */
      font-family: poppins;
      text-align: right;
      flex: 1;
      margin: 10px 0px;
      padding: 20px 20px 20px 120px;
      max-height: 100%;
      border: none;
      border-radius: 18px;
      box-shadow: 2px 2px 5px grey;
      background-color:rgb(120, 120, 120);
      background-blend-mode: multiply;
      width: 100%;
    }
    
    .colunax2 {
      background-image: url(imagens/dif.jpg);
      background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
      background-position: center; /* Centraliza a imagem */
      background-repeat: no-repeat; /* Evita que a imagem se repita */
      font-family: poppins;
      text-align: right;
      flex: 1;
      margin: 10px 0px;
      padding: 20px 20px 20px 120px;
      max-height: 100%;
      border: none;
      border-radius: 18px;
      box-shadow: 2px 2px 5px grey;
      background-color:rgb(120, 120, 120);
      background-blend-mode: multiply;
      width: 100%;
    }
    
    .colunax3 {
      background-image: url(imagens/apt.jpg);
      background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
      background-position: center; /* Centraliza a imagem */
      background-repeat: no-repeat; /* Evita que a imagem se repita */
      font-family: poppins;
      text-align: right;
      flex: 1;
      margin: 10px 0px;
      padding: 20px 20px 20px 120px;
      max-height: 100%;
      width: 100%;
      border: none;
      border-radius: 18px;
      box-shadow: 2px 2px 5px grey;
      background-color:rgb(120, 120, 120);
      background-blend-mode: multiply;
    }
  
    /*CARROSSEL DE IMAGENS*/
    .carousel-container {
      position: relative;
      width: 80%;
      max-width: 600px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .carousel {
      display: flex;
      transition: transform 0.3s ease-in-out;
    }
    
    .carousel-slide {
      min-width: 100%;
      box-sizing: border-box;
    }
    
    .carousel-slide img {
      width: 100%;
      border-radius: 10px;
    }
    
    .carousel-prev, .carousel-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      padding: 10px;
      cursor: pointer;
      border-radius: 50%;
      z-index: 10;
    }
    
    .carousel-prev {
      left: 10px;
    }
    
    .carousel-next {
      right: 10px;
    }
    
    .carousel-prev:hover, .carousel-next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    #valores {
      margin-top: 30px;
    }
    
    .valorescol {
      margin: 0px 10px;
    }
    /*FORMULÁRIO*/
    form{
    display-content:center;
    align-items:center;
    }
    
    label {
          display: block;
          margin-bottom: 8px;
          color: #fff;
    font-family:poppins;
        }
    
        input {
          width: 100%;
    background-color:rgba(255, 255, 255, 0.9);
          padding: 10px;
          margin-bottom: 16px;
          box-sizing: border-box;
    border-radius:10px;
    border:solid 2px #ddd;
        }
    
    input::placeholder{
    color:rgb(100, 100, 100);
    font-family:poppins;
    }
    
    small {
          display: block;
          margin-top: 5px;
          color: #777;
        }
    
        /*colunas valores*/
        .valoresdiv {
          display: flex;
          flex-wrap: wrap;
          gap: 10px; /* Espaçamento entre as colunas */
          margin: 10px;
      }
    
      #cadastro {
        background-color: #BA7A4C;
        padding: 30px 20px;
        text-align: left;
        align-items: center;
        justify-content: center;
      }
    
      .cadastrodiv1 {
        text-align: justify;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
    
      .cadastrodiv {
        width: 100%;
        text-align: left;
      }
    
      footer {
        background-color: #000;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    /* Estilo para a primeira seção do footer */
    .first-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px; /* Espaçamento entre as seções */
    }
    
    .first-section img {
        width: 50px; /* Tamanho da logo */
        height: auto; /* Mantém a proporção */
        margin-right: 10px; /* Espaçamento à direita da logo */
    }
    
    /* Estilo para a segunda seção do footer */
    .second-section {
        font-size: 14px; /* Tamanho do texto do copyright */
    }
  }